<div class="container mt-5">
  <div class="row">
    <div class="col-7">
      <h1>Bienvenido</h1>
      <h2>Luis David <small>SidMox</small> </h2>
      <div class="row">
        <h3>Administrador</h3>
        <h4>Grupos</h4>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">Viva La raza</li>
          <li class="list-group-item list-group-item-action">Perros</li>
          <li class="list-group-item list-group-item-action">Mox</li>
        </ul>
      </div>
    </div>
    <div class="col-5">
      <img src="" alt="">
    </div>
  </div>
</div>
