<div class="principal">
    <img class="w-100" src="assets/img/manos.webp" alt="">
    <div class="info">
        <h1>Juntos, por ser Mejor!!!</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus saepe reprehenderit optio recusandae itaque, id voluptatibus deserunt nobis? Facere fugiat expedita culpa debitis sint minus vel quisquam similique autem harum.
        </p>
    </div>
</div>

<div class="extra-info">
    <div class="container pt-5 pb-5">
        <h2 class="pb-3 text-center">Siempre habra problemas que afrontar</h2>
        <p class="pb-3 text-center">
            La deserción estudiantil es un problema que abarca diferentes factores de una persona, la mayoría de estos problemas influyen de tal manera que no permiten a los estudiantes avanzar o superarse.
        </p>
        <div class="row">
            <div class="col-3">
                <h4>Factores Personales</h4>
                <i class="material-icons">sentiment_dissatisfied</i>
                <p>
                    Se define como el conjunto de factores causantes de la deserción que tienen que ver con la situación del estudiante en el desarrollo de su educación profesional y el desempeño en la misma
                </p>
            </div>
            <div class="col-3">
                <h4>Factores Academicos</h4>
                <i class="material-icons">school</i>
                <p>
                    Este componente describe los factores que tienen que ver con las posibilidades y oportunidades que la universidad le ofrece al estudiante para comenzar o continuar con sus estudios.
                </p>
            </div>
            <div class="col-3">
                <h4>Factores Economicos</h4>
                <i class="material-icons">local_atm</i>
                <p>
                    Se caracterizan por situaciones financieras tanto de la familia como del mismo estudiante que influyen en el ingreso y permanencia en la universidad y su manutención durante el periodo académico. Además, tienen que ver con el área laboral y sus obligaciones económicas.
                </p>
            </div>
            <div class="col-3">
                <h4>Factores Institucionales</h4>
                <i class="material-icons">account_balance</i>
                <p>
                    Los factores institucionales estan relacionada a normatividad académica, recursos con los que dispone la institución educativa, las relaciones del individuo con el profesorado y los demás estudiantes, calidad del programa en el que está inscrito, los programas anti-deserción o de acción afirmativa que implementen las instituciones educativas.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="problemas">
    <img class="w-100" src="assets/img/complejo.jpg" alt="">
    <div class="info2">
        <h1>Busca un Equipo que te Ayude a Impulsarte</h1>
        <p>
            Nuestros equipos estan formados por un Docente y un alumno guia.
        </p>
    </div>
</div>