<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="all" href="login.component.css" />
</head>
<!--------cuerpo----------->
<body>
    <div class="area">
    <ul class="circles">
      
        <div class="p-5">
          <div class="row p-5">
            <div class="col-8">
            
              <img src="assets/img/login.png" alt="" class="h-100 w-100">
            </div>

            
            
            <div class="col-4">
             <div class="titulo"> <h2 >BIENVENIDOS</h2></div><!---centramos-->
              <form (ngSubmit)="logear()">
                <div class="mb-3 mt-3">

                  
                  <label for="nickname" class="form-label">Apodo:</label>
                  <input type="text"
                        class="form-control"
                        id="nickname"
                        placeholder="Ingrese Apodo"
                        name="Nickname"
                        [(ngModel)]="id"
                        >
                  
                </div>
                <div class="mb-3">
                  <label for="pwd" class="form-label" >Contraseña:</label>
                  <input type="password"
                        class="form-control"
                        id="pwd"
                        placeholder="Ingrese Contraseña"
                        name="pswd"
                        [(ngModel)]="password"
                        
                        >
                </div >

                <div class="container"><!--centramos-->
                <button type="submit" class="btn btn-primary btn-block btn-large"  >Ingresa</button>

              </div>
              </form>
              <div class="pie-form">
                <a href="#">¿Perdiste tu contraseña?</a>
                
            </div>
            </div>
          </div>
        </div>
  <!------------------------ciclos------------------------------->
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
      </ul>
    </div>
  </body>
</html>


