<div class="container p-5">
  <div class="row p-5">
    <div class="col-6">
      <img src="" alt="" class="w-100">
    </div>
    <div class="col-6">
      <h2>Login</h2>
      <form (ngSubmit)="logear()">
        <div class="mb-3 mt-3">
          <label for="nickname" class="form-label">Nickname:</label>
          <input type="text"
                class="form-control"
                id="nickname"
                placeholder="Enter Nickname"
                name="Nickname"
                [(ngModel)]="id"
                >
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password:</label>
          <input type="password"
                class="form-control"
                id="pwd"
                placeholder="Enter password"
                name="pswd"
                [(ngModel)]="password"
                >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
