<!--http://accesibilidadweb.dlsi.ua.es/?menu=ej-form-test-->
<div class="pregresp">
    <div class="pregunta">¿Pensó alguna vez en dejar los estudios en la universidad?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
    </div>
    <div class="pregunta">¿Crees que las metodologías que usan los docentes son buenas ?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
    </div>
    <div class="pregunta">¿Está en desacuerdo con la infraestructura de su universidad?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
    </div>
    <div class="pregunta">¿Considera usted que  la calidad de enseñanza de los docentes  influyen en la decisión de deserción?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
    </div>

    <div class="pregunta">¿Considera usted que las huelgas interrumpen los ritmos de estudios?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
    </div>
    <div class="pregunta">¿Considera que el dinero es una parte importante en el transcurso de la educación?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
    </div>
    <div class="pregunta">¿Conoces  amigos(as) y/o compañeros(as) que dejo la universidad?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
    </div>
    <div class="pregunta">¿Conoces amigos que tienen problemas de adicción (Apuestas, bebidas, etc)?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
    </div>

    <div class="pregunta">¿Considera que el cambio de malla curricular  afecto algún compañero para que desertara?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
    </div>
    <div class="pregunta">¿Considera usted que las malas amistades son un factor el cual podría causar su deserción?<br />
    </div>
    <div class="respuestas">
      <input type="radio" name="preg1" value="1" /> Sí<br />
      <input type="radio" name="preg1" value="2" /> No<br />
    </div>
</div>
