<div class="container pt-5 pb-5 thorco">
    <h1>Nuestro Equipo de Desarrollo</h1>
    <div class="row pt-5">
        <div class="col-4"></div>
        <div class="col-8">            
            <h5>Luis David Tello Justiniani <span class="badge bg-dark">SidMox120897</span></h5>
            <h5>Ronald Huahuatico Soria <span class="badge bg-dark">Ronald Huahuatico Soria</span></h5>
            <h5>Lady Diana Quinto Catachura <span class="badge bg-dark">Diana-Quinto</span></h5>
            <h5>Carla Paloma Cueto Sanchez <span class="badge bg-dark">carlasanchez15</span></h5>
            <h5>Luis Andrade Escobar <span class="badge bg-dark">Luis2022</span></h5>
        </div>
    </div>
</div>