<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="all" href="mostrar.component.css" />
</head>
<body>
  <div class="area">
    <ul class="circles">
<div class="row col">
  <app-tables [headerItems]="headerTable" [body]="toBody()"></app-tables>
</div>
         <!------------------------ciclos------------------------------->
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
       </ul>
       </div>
   </body>